*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #f0f2f5;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.facebook-page{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid blue;
}

.heading{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 550px;
    margin-left: 165px;
    padding: 40px 0 0 20px;
}
.heading h1{
    color: #1877f2;
    font-size: 3.5em;
}

.heading p{
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 5em;
    display: none;
}

.container{
    width: 420px;
    border: 1px solid yellow;
}

form{
    background-color: #fff;
    border-radius: 8px;
    padding: 17px;
    box-shadow: 4px 4px 17px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h3{
    text-align: center;
    display: none;
}

.textbox{
    text-align: center;
    background-color: rgb(247, 245, 235);
    border: 1px solid gold;
    margin: 30px;
    font-weight: lighter;
    width: 100%;
    padding: 20px 0;
    display: none;
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

input[type='submit']{
    color: #fff;
    background-color: #1877f2;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 0.5px;
}
input:focus {
    border: 1.8px solid #1877f2;
    outline: none;
}

.password-forget{
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.password-forget:hover{
    text-decoration: underline;
}

.line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #ccc;
    margin: 15px;
}

.line hr{
    width: 100%;  
}

.line div{
    width: 15%;
    text-align: center;
}

.new-compte{
    text-decoration: none;
    text-align: center;
    background-color: #08ca15;
    color: #fff;
    width: 65%;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}
.new-compte:hover{
    background-color: #03910d;
}
footer{
    position: relative;
    height: 100px;
    background-color: #fff;
    border: 1px solid black;
}
@media (max-width: 436px){
    .container{
        width: 100%;
    }

}@media (min-width: 1024px){
    .facebook-page{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        border: 1px solid blue;
        top: 130px;
    }
    .heading{
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        width: 550px;
        margin-left: 165px;
        padding: 40px 0 0 20px;
    }
    .heading p{
        display: block;
    }
}